* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.top-bar {
    background: #7a2dfd;
    height: 35px;
    display: flex;
}

.top-bar-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a.active {
    color: hotpink;
}

.left-bar {
    color: white;
    display: flex;
}

.left-bar span {
    margin-left: 60px;
}


.main-header {
    padding: 15px;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.top-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #111;
}

.search-box button {
    background: hotpink;
    color: white;
    border: none;
    padding: 2px;
    position: absolute;
    right: 130px;
}

.shop-main {
    background-color: #F6F5FF;
    height: 300px;
    padding-top: 5%;
}

.shop-grid {
    position: absolute;
    left: 100px;
}

.menu {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: #FB2E86;
}

.dropdown{
    height: 15px;
    border: none;
}

.search_icon {
    height: 30px;
    width: 35px;
    background-color: #FB2E86;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
}

.form-group input {
    border-radius: 0;
    height: 30px;
}


.top-right select{
    background:transparent;
    border:none;
    color:white;
    font-size:16px;
    cursor:pointer;
    outline:none;
}

.top-right option{
    color:black;
}

/*  */
.info {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.info_content {
    width: 40%;
}

.info_text {
    margin-bottom: 30px;
    margin-top: 30px;
}

.question {
    color: #1D3178;
    font-weight: bold;
    margin-bottom: 10px;
}

.answere {
    color: #A1ABCC;
}

/* form */
.form {
    background: #dedfe7;
    padding: 20px;
    width: 30%;
}

.form_header {
    margin-bottom: 50px;
}

.name_input {
    margin-bottom: 20px;
}

.name_input input {
    width: 100%;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid black;
}

.sub_input input {
    width: 100%;
    height: 40px;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.message_input textarea {
    width: 100%;
    height: 100px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid black;
}

.input_btn button {
    color: white;
    background: #FB2E86;
    border: none;
    height: 40px;
    width: 40%;
    margin-top: 15px;
}

.company_logo img {
    width: 100%;
}

/* footer */
.footer {
    background-color: #f4f4fb;
    padding-top: 60px;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.footer-left {
    width: 30%;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.subscribe-box {
    display: flex;
    margin-bottom: 15px;
}

.subscribe-box input {
    padding: 10px;
    border: none;
    width: 70%;
    outline: none;
}

.subscribe-box button {
    background-color: #fb2e86;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
}

.contact {
    font-weight: bold;
    margin-top: 10px;
    color: #9DA0AE;
}

.address {
    color: #9DA0AE;
    font-size: 14px;
    margin-top: 5px;
}

.footer-column {
    width: 18%;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-column ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-column a {
    text-decoration: none;
    color: #9DA0AE;
    font-size: 14px;
    cursor: pointer;
}

.footer-bottom {
    background-color: #e5e5f5;
    padding: 15px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.social-icons span {
    margin-left: 10px;
    font-size: 14px;
    color: #3b3b98;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}



@media(max-width:765px){

.links{
    position:absolute;
    top:80px;
    left:0;
    width:100%;
    background:white;
    flex-direction:column;
    display:none;
    text-align:center;
    padding:20px 0;
}

.links li{
    margin:10px 0;
}

.links.show{
    display:flex;
}

.search-box{
    display:none;
}

.main-container{
    position:relative;
}
}

@media (max-width: 990px) {

    .top-bar{
        height: 90px;
    }

     /* Top Bar */
    .top-bar-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .left-bar {
        flex-direction: column;
        gap: 5px;
    }

    .left-bar span {
        margin-left: 0;
    }

    .top-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    
    .main-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-box button {
        position: static;
        margin-top: 5px;
    }

    
    .shop-main {
        height: auto;
        padding: 40px 0;
        text-align: center;
    }

    .shop-grid {
        position: static;
    }

    .menu {
        justify-content: center;
        flex-wrap: wrap;
    }

    .info {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .info_content {
        width: 90%;
    }

    .form {
        width: 80%;
    }

    .input_btn button {
        width: 50%;
    }
    .footer-left {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-column {
        width: 45%;
        margin-bottom: 30px;
    }

    .footer-container {
        justify-content: space-between;
    }
}

@media (max-width: 575px) {

     /* Header */
    .links {
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        gap: 15px;
    }

    /* FAQ Section */
    .info_content {
        width: 100%;
    }

    .form {
        width: 100%;
        padding: 15px;
    }

    .input_btn button {
        width: 70%;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-column {
        width: 100%;
    }

    .subscribe-box {
        flex-direction: column;
    }

    .subscribe-box input {
        width: 100%;
        margin-bottom: 10px;
    }

    .subscribe-box button {
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}


